extends layout

block content
  h1= title
  
  h2 Log In
  
  if loginError 
    h4= loginError
    
  form(action='/login' method='post')
    label(for='email') Email
    if loginError
      input(type='email' id='email' name='email' autocomplete='off' value=email)
    else
      input(type='email' id='email' autocomplete='off' name='email')
    p
    label(for='password') Password
    input(type='password' id='password' name='password')
    p
    input(type='submit' value='Log In')
    p
    
      
  h2 Sign Up
  
  if validationErrors
    for error in validationErrors
      p= error
    
  form(action='/signup' method='post')
    label(for='user') Username
    if validationErrors
      input(type='text' id='user' name='user' autocomplete='off' value=user)
    else
      input(type='text' id='user' autocomplete='off' name='user')
    p
    label(for='email') Email
    if validationErrors
      input(type='email' id='email' name='email' autocomplete='off' value=email)
    else
      input(type='email' id='email' autocomplete='off' name='email')
    p
    label(for='password') Password
    input(type='password' id='password' name='password')
    p
    label(for='confirm') Confirm Password
    input(type='password' id='confirm' name='confirm')
    p
    input(type='submit' value='Sign Up')
