extends ../layout

block content
  h1= bet.name
  
  if bet
    p= bet.description
    p Start Date: #{bet.start}
    p End Date: #{bet.end}
    p Participants: #{bet.participants}
    
    label(for='winner') Winner 
    select(id='winner' name='winner')        
      option(disabled selected) Choose Winner
      if bet.participants
        for val in bet.participants
          option= val
  p  
  a(href='/bets/index') Back to All Bets
  p
  form(action='/bets/' + bet._id + '/edit' method='get')
    button(type='submit') Edit Bet
  p
  form(action='/bets/' + bet._id + '/delete' method='post')
    button(type='submit') Delete Bet
