extends ../layout

block content
  h1= bet.name
  
  if bet
    h4= bet.description
    h4= bet.start
    h4= bet.end
    h4= bet.participants
    
  a(href='/bets/index') Back to All Bets
    
  form(action='/bets/' + bet._id + '/edit' method='get')
    button(type='submit') Edit Bet
  p
  form(action='/bets/' + bet._id + '/delete' method='post')
    button(type='submit') Delete Bet
